{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action=""method="post">
        {{form.hidden_tag() }}
        <p>
            <div class="mb-3">
                {{form.username.label}}
            </div>
                {{form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        
        </p>
        <p>
            <div class="mb-3">
                {{form.about_me.label}}
            </div>
                {{form.about_me(cols=50, rows=4) }}
                {% for error in form.about_me.errors %} <br/>
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            
        </p>
        <div class="mb-3" >
            <input type="submit" value="Login" class="btn btn-light" />
        </div>
    </form>
{% endblock %}