{% extends "base.html"%} {% block content %}
<h1>Login</h1>
<form action="" method="post" novalidate>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <input type="checkbox" id="rememberMe" name="rememberMe" />
    <label for="rememberMe">Remember me</label>
  </div>
  <div>
    <input type="submit" value="Login" />
  </div>
</form>
<p>
  New User？
  <a href="{{ url_for('register') }}"> Click to Register！</a>
</p>
<p>
  Forget Passwords?
  <a href="{{ url_for('reset_password_request') }}"> Click here to reset! </a>
</p>

{% endblock %}
